.filter-bar {
    padding: 0 30px;
    background: #026cd1;
    line-height: 44px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .filter-bar h6 {
    font-weight: 500;
    color: #ffffff;
  }
  
  .filter-bar button {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: 500;
  }


  