.filter-bar {
    padding: 0 30px;
    background: #026cd1;
    line-height: 44px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .filter-bar h6 {
    font-weight: 500;
    color: #ffffff;
  }
  
  .filter-bar button {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: 500;
  }

.sidebar-categories .head {
    line-height: 44px;
    background: #026cd1;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
  }
  .sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
  }
  .sidebar-categories .main-nav-list a:hover {
    color: #ffba00;
  }
  .sidebar-categories .main-nav-list a .number {
    color: #cccccc;
    margin-left: 10px;
  }
  .sidebar-categories .main-nav-list a .lnr {
    margin-right: 10px;
    display: none;
  }
  .sidebar-categories .main-nav-list.child a {
    padding-left: 8px;
  }
  
  .main-categories a {
    color: #000;
    text-decoration: none;
  }
  
  .sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 2px;
    border-bottom: 1px solid #eee;
  }
  
  .main-nav-list ul {
    padding: 0 !important;
  }
  
  .sidebar-style {
    height: calc(100vh - 158px);
    overflow-y: auto;
    scrollbar-width: thin; /* For modern browsers (Firefox) */
    scrollbar-color: #cccccc #f5f5f5; /* For modern browsers (Firefox) */
  }
  
  /* For WebKit browsers (Chrome, Safari) */
  .sidebar-style::-webkit-scrollbar {
    width: 8px;
  }
  
  .sidebar-style::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 4px;
  }
  
  .sidebar-style::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  