.single-product {
    margin-bottom: 50px;
  }
  .single-product img {
    margin-bottom: 20px;
    width: 100%;
  }
  .single-product .product-details h6 {
    font-size: 16px;
    text-transform: uppercase;
  }
  .single-product .product-details .price h6 {
    font-size: 14px;
    display: inline-block;
    padding-right: 15px;
    margin: 0;
  }
  .single-product .product-details .price .l-through {
    text-decoration: line-through;
    color: #cccccc;
    margin-bottom: 0;
  }
  .single-product .product-details .prd-bottom {
    position: relative;
    margin-top: 20px;
  }
  .single-product .product-details .prd-bottom .social-info {
    position: relative;
    display: inline-block;
    width: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
  }
  .single-product .product-details .prd-bottom .social-info span {
    position: relative;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #828bb2;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
  }
  .single-product .product-details .prd-bottom .social-info span:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  .single-product .product-details .prd-bottom .social-info .hover-text {
    position: absolute;
    left: 0;
    top: 3px;
    width: 100px;
    left: -40px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #222222;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
  }
  .single-product .product-details .prd-bottom .social-info:hover {
    width: 115px;
  }
  .single-product .product-details .prd-bottom .social-info:hover span:after {
    opacity: 1;
    visibility: visible;
  }
  .single-product .product-details .prd-bottom .social-info:hover .hover-text {
    opacity: 1;
    visibility: visible;
    left: 40px;
  }

  .single-product img {
    height: 280px;
    object-fit: cover;
  }
  .single-product img:hover {
    cursor: pointer;
  }