::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f5f5f5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.9; 
  }